body{
  background-color: rgb(255, 255, 255);
}
#main-heading{
    font-size: 3.2rem;
    color: darkslategrey;
    height: 400px;
    display: inline-block;
    width: 50%;
    height: 30%;
    font-family:Dancing Script;
    margin-left: 70px;
}
#main-heading:hover{
  color: goldenrod;
}
.author{
   width:9%;
   text-align: center;
   display:block;
   padding: 20px;
}
li p{
  color:rgb(196, 53, 53);
}
main ol{
  font-size: 1.5rem;
}
.sources a { 
    text-decoration: none;
}
.sources a:hover{
  color: black;
}
main{
  width: 58%;
  display: inline block;
  margin: auto;
}
main p{
  font-weight: 300;
  color: rgba(45, 45, 95, 0.829);
  font-size: 1.4rem;
  word-spacing:1px ;
  line-height: 1.4 ;
}

aside{
    display:inline-block;
    width:21%;
    vertical-align: top;
    /* margin-top: 20px; */
    /* margin-left: 90px; */
}
label{
   display: block;
   font-family:font-family: 'Akaya Kanadaka', cursive;
   margin-bottom: 10px;
   margin-top: 20px;
   font-weight: 800;
}
.mybtn{
  color:white;
  background-color: black;
  display: block;
  margin-top: 20px;
  padding: 9px;
  width: 50%;
  font-family:'Times New Roman', Times, serif;
}
.subscribe{
   border-style: solid;
   border-width: 4px 0px 4px 0px;
   padding: 15px 0px 25px 0px;
}
input{
  border:2px solid black;
  display: block;
  height: 22px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.searchbox{
  /* margin-top: 30px; */
  border-style: solid;
  border-width: 0px 0px 4px 0px ;
  padding: 20px;
  margin-bottom: 30px;
}
.searchbox input{
  width: 80%;
  height: 26px;
  margin-bottom: 32px;
  margin-top: 14px;
  border: 2px solid black;
}
.searchbox i{
  background-color: black;
  color: white;
  padding: 6px;
  margin-left: -5px;
  height: 20px;
}
.recent-posts{
  padding: 3px;
  margin-top: 20px;
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  margin-bottom: 10px;
}
.recent-posts h3{
  margin-left: 12px;
  font-family: monospace;
  font-size: 25px;
}
.recent-posts p{
  color: rgb(42, 158, 77);
  font-size: 1.22rem;
  line-height: 19px;
  font-family: 'Akaya Kanadaka', cursive;;
}
h3{
  margin-left: 12px;
  font-family: monospace;
  font-size: 25px;
}
.category li{
color: blue;
  font-size: 1.1rem;
  line-height: 32px;
  font-weight: 300;
}
.category li:hover{
  color: rgb(72, 255, 0);
}
.recent-comments a{
  text-decoration: none;
  color: brown;
}
.recent-comments{
  border-style: solid;
  border-width: 0px 0px 4px 0px;
}
.contact-icon{
  width: 5%;
  position: fixed;
  margin-top: 20%;
}
.facebook{
   color:#3b5998;
}
.twitter{
  color:#83c3f3;
}
.whatsapp{
  color:#6ba92f
}
.google{
  color:#dd4b39;
}
.message{
  color:#ed4926;
}
.linkedin{
  color:#0077b5;
}
.facebook:hover{
  color:#2d4373;
}
.twitter:hover{
 color:#55acee;
}
.whatsapp:hover{
 color:#528124;
}
.google:hover{
 color:#c23321;
}
.message:hover{
 color:#cf3311;
}
.linkedin:hover{
  color:#00121c;
}